# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Frontend
node_modules/
dist/
build/

# Base de données (NE PAS IGNORER planning.db)
# *.db ← NE PAS METTRE CETTE LIGNE
# *.sqlite3 ← NE PAS METTRE CETTE LIGNE

# Environnement
.env
.secrets

# Système
.DS_Store
Thumbs.db
